<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./../static/css/common.css?v=005">
    <link rel="stylesheet" href="./../static/css/aboutMQ.css?v=005">
    <title>麦格瑞</title>
</head>
<body>
    <!-- 公用头部 -->
    <div class="common-header">
        <div class="title-top">
            <div class="menu-icon">
                <!-- <img class="menu-img" src="./../static/img/menu.png" alt=""> -->
            </div>
            <div class="main-icon">
                <img class='icon-img' src="./../static/img/main-icon.png" alt="">
            </div>
            <div class="search-icon">
                <img class="search-img"  style='display:none;' src="./../static/img/search.png" alt="">
            </div>
        </div>

        <div class="menu-contain this-hidden" >
                <div class="menu-index menu-list">
                    <a href="./index.html">首页</a>
                </div>
                <div class="menu-join menu-list">
                    <a href="./join.html">招贤纳士</a>
                </div>
                <div class="menu-aboutUs menu-list menu-active">
                    <a href="./aboutMQ.html">关于我们</a>
                </div>
        </div>
    </div>
    <div class="bg this-hidden" >
        
    </div>
    <!-- 主要内容 -->
    <div class="common-contain">
        <div class="main">
            <div class="banner">
                <img class='banner-img' src="./../static/img/about-bg1.png" alt="">
                <div class="this-title">关于MQ</div>
            </div>
            <div class="nav-contain">
                <div class="nav-list-contain">
                    <div class="nav-list  nav-list-active">
                        <a class='introduce'>公司简介</a>
                    </div>
                    <div class="nav-list">
                        <a class='newsCenter'>新闻中心</a>
                    </div>
                    <div class="nav-list">
                        <a class='contact'>联系我们</a>
                    </div>
                </div>
                <div class="nav-detail-contain aboutMQ-detail detain-show" id='introduce'>
                    <div class="list-contain">
                        麦格瑞（北京）智能科技有限公司(简称麦格瑞)成立于2007年，北京市高新技术企业，“职友集” 被公选为最佳人气企业第一名，中国金属学会会员单位，已通过ISO9001国际质量管理体系认证， 是以机器人及工业自动化技术为核心，致力于数字化高端装备制造的知名企业。公司专业提供以客户需求为导向的工业智能化系统解决方案及实施服务，专注于提高企业核心技术实力与服务能力，实现中国工业制造业有效升级。
                    </div>
                </div>
                <div class="nav-detail-contain" id='newsCenter'>
                    <div class="list-contain">
                            <div class="list-contain">
                                    <div class="nav-detail-list">
                                        <a href="./productDetail.html?menu=2">
                                            <div class="detail-left">
                                                <img src="./../static/img/apply-list1.png" alt="" class="detail-img">
                                            </div>
                                            <div class="detail-right">
                                                <div class="detail-title">
                                                    钢铁冶炼行业
                                                </div>
                                                <div class="detail-msg">
                                                    机器人自动测温取样系统将机器人自动测温取样系统将
                                                </div>
                                            </div>
                                        </a>
                                        
                                    </div>
                                    <div class="nav-detail-list">
                                        <a href="./productDetail.html?menu=2">
                                            <div class="detail-left">
                                                <img src="./../static/img/apply-list2.png" alt="" class="detail-img">
                                            </div>
                                            <div class="detail-right">
                                                <div class="detail-title">
                                                    钢铁冶炼行业2
                                                </div>
                                                <div class="detail-msg">
                                                    机器人自动测温取样系统将机器人自动测温取样系统将
                                                </div>
                                            </div>
                                        </a>
                                        
                                    </div>
                                    <div class="nav-detail-list">
                                        <a href="./productDetail.html?menu=2">
                                            <div class="detail-left">
                                                <img src="./../static/img/apply-list3.png" alt="" class="detail-img">
                                            </div>
                                            <div class="detail-right">
                                                <div class="detail-title">
                                                    钢铁冶炼行业3
                                                </div>
                                                <div class="detail-msg">
                                                    机器人自动测温取样系统将机器人自动测温取样系统将
                                                </div>
                                            </div>
                                        </a>
                                        
                                    </div>
                                </div>
            
                                <div class="load-more">
                                    加载更多
                                </div>
                    </div>
                </div>
                <div class="nav-detail-contain aboutMQ-detail" id='contact'>
                    <div class="list-contain">
                        <div class="company-name">
                            麦格瑞(北京)智能科技有限公司
                        </div>
                        <div class="company-en-name">
                            COPYRIGHT   京ICP备 13050544号-3
                        </div>
                        <div class="address introduce-list">
                            <em class='address-em'></em>
                            <span>中国.北京市东城区朝阳门银河SOHO 3号楼 10层 31009</span>
                        </div>
                        <div class="tel introduce-list">
                            <em class='tel-em'></em>
                            <span>电话：010-65206288 </span>
                        </div>
                        <div class="fax introduce-list">
                            <em class='fax-em'></em>
                            <span>传真：010-83126266</span>
                        </div>
                        <div class="introduce-list">
                            <div class="wx">
                                    <img class='wx-img' src="./../static/img/wx.png" alt="">
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- 公用尾部 -->
    <div class="common-footer">
        <div class="company-name">
            麦格瑞(北京)智能科技有限公司
        </div>
        <div class="company-msg">
            COPYRIGHT   京ICP备 13050544号-3
        </div>
    </div>
</body>
<script src="./../static/js/jquery-2.1.4.js"></script>
<script src="./../static/js/common.js"></script>
</html>