<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./../../public/css/common.css">
    <link rel="stylesheet" href="./../../public/css/aboutMQ/newsList.css">
    <title>新闻中心</title>
</head>
<body>
    <div class="common-nav">
        <div class="nav-banner">
            <img src="../../public/img/nav-banner.png" alt="">
        </div>
        <div class="nav-right">
            <div class="nav-list list-active model1">
                <a href="../index.html?model=model1"  class="nav-list-a">首页</a>
                <em class='active-border'></em>
            </div>
            <div class="nav-list model2">
                <a href="../apply/apply.html?model=model2"  class="nav-list-a">行业应用</a>
                <em class='active-border'></em>
                <div class="nav-list-menu"  style="display:none;">
                    <div class="menu-list menu2-1">
                        <a href="../apply/applydetail.html?model=model2&menu=menu2-1">钢铁冶金行业</a>
                    </div>
                    <div class="menu-list menu2-2">
                        <a href="../apply/applydetail.html?model=model2&menu=menu2-2">石油行业</a>
                    </div>
                    <div class="menu-list menu2-3">
                        <a href="../apply/applydetail.html?model=model2&menu=menu2-3">3C行业</a>
                    </div>
                </div>
            </div>
            <div class="nav-list model3">
                <a href="../product/product.html?model=model3" class="nav-list-a">产品&系统</a>
                <em class='active-border'></em>
                <div class="nav-list-menu index2-menu-contain" style="display:none;">
                    <div class="index2-menu ">
                        <div class="menu-list menu3-1">
                            <a href="../product/productdetail.html?model=model3&menu=menu3-1">智能制造解决方案</a>
                        </div>
                        <div class="menu-list menu3-2">
                            <a href="../product/productdetail.html?model=model3&menu=menu3-2">工业机器人</a>
                        </div>
                    </div>
                    <div class="index2-menu">
                        <div class="menu-list menu3-3">
                            <a href="../product/productdetail.html?model=model3&menu=menu3-3">冶金智能装备</a>
                        </div>
                        <div class="menu-list menu3-4">
                            <a href="../product/productdetail.html?model=model3&menu=menu3-4">石油化工智能装备</a>
                        </div>
                    </div>
                    <div class="index2-menu">
                        <div class="menu-list menu3-5">
                            <a href="../product/productdetail.html?model=model3&menu=menu3-5">工业自动化</a>
                        </div>
                        <div class="menu-list menu3-6">
                            <a href="../product/productdetail.html?model=model3&menu=menu3-6">驱动技术</a>
                        </div>
                    </div>
                    <div class="index2-menu">
                        <div class="menu-list menu3-7">
                            <a href="../product/productdetail.html?model=model3&menu=menu3-7">流体系统</a>
                        </div>
                        <div class="menu-list menu3-8">
                            <a href="../product/productdetail.html?model=model3&menu=menu3-8">MQ机器人教育合作项目</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="nav-list model4">
                <a href="../service/service.html?model=model4&menu=4-1" class="nav-list-a">服务与解决方案</a>
                <em class='active-border'></em>
                <div class="nav-list-menu"  style="display:none;">
                    <div class="menu-list menu4-1">
                        <a href="../service/service.html?model=model4&menu=menu4-1">服务支持</a>
                    </div>
                    <div class="menu-list menu4-2">
                        <a href="../service/service.html?model=model4&menu=menu4-2">服务模式</a>
                    </div>
                    <div class="menu-list menu4-3">
                        <a href="../service/solve.html?model=model4&menu=menu4-3">解决方案</a>
                    </div>
                </div>
            </div>
            <div class="nav-list model5">
                <a href="../case/caselist.html?model=model5" class="nav-list-a">成功案例</a>
                <em class='active-border'></em>
            </div>
            <div class="nav-list model6">
                <a href="../technolog/index.html?model=model6" class="nav-list-a">技术创新</a>
                <em class='active-border'></em>
            </div>
            <div class="nav-list model7">
                <a href="../recruit/recruitList.html?model=model7" class="nav-list-a">招贤纳士</a>
                <em class='active-border'></em>
            </div>
            <div class="nav-list model8">
                <a href="../aboutMQ/newsCenter.html?model=model8" class="nav-list-a">关于MQ</a>
                <em class='active-border'></em>
                <div class="nav-list-menu"  style="display:none;">
                    <div class="menu-list menu8-1">
                        <a href="../aboutMQ/introduce.html?model=model8&menu=menu8-1">公司介绍</a>
                    </div>
                    <div class="menu-list menu8-2">
                        <a href="../aboutMQ/newsList.html?model=model8&menu=menu8-2">新闻中心</a>
                    </div>
                    <div class="menu-list menu8-3">
                        <a href="../aboutMQ/contact.html?model=model8&menu=menu8-3">联系我们</a>
                    </div>
                </div>
            </div>
            <div class="nav-search">
                <input type="text">
                <em class='input-em'></em>
            </div>
            <div class="language">
                <div class="cn language-list language-active">CN</div>
                <div class="en language-list">EN</div>
            </div>

        </div>
    </div>
    <div class="index-contain">
        <div class="msg-title-contain">
            <div class="en-title">
                COMPANY NEWS
            </div>
            <div class="cn-title">
                新闻中心
            </div>
            <div class="border-contain">
                    <div class="border"></div>
            </div>
        </div>
        <div class="main-list-contain">
            <div class="news-list">
                <a href="./newsDetail.html" class="news-alone">
                    <div class="time-contain">
                            <div class="line"></div>
                            <div class="time">2017年07月01日</div>
                    </div>
                    <div class="news-descripe">
                            热烈庆祝内蒙古乌兰浩特钢铁有...
                    </div>
                </a>
                <a href="./newsDetail.html" class="news-alone">
                    <div class="time-contain">
                            <div class="line"></div>
                            <div class="time">2017年07月01日</div>
                    </div>
                    <div class="news-descripe">
                            热烈庆祝内蒙古乌兰浩特钢铁有...
                    </div>
                </a>
                <a href="./newsDetail.html" class="news-alone">
                    <div class="time-contain">
                            <div class="line"></div>
                            <div class="time">2017年07月01日</div>
                    </div>
                    <div class="news-descripe">
                            热烈庆祝内蒙古乌兰浩特钢铁有...
                    </div>
                </a>
                <a href="./newsDetail.html" class="news-alone">
                    <div class="time-contain">
                            <div class="line"></div>
                            <div class="time">2017年07月01日</div>
                    </div>
                    <div class="news-descripe">
                            热烈庆祝内蒙古乌兰浩特钢铁有...
                    </div>
                </a>
                <a href="./newsDetail.html" class="news-alone">
                    <div class="time-contain">
                            <div class="line"></div>
                            <div class="time">2017年07月01日</div>
                    </div>
                    <div class="news-descripe">
                            热烈庆祝内蒙古乌兰浩特钢铁有...
                    </div>
                </a>
            </div>
        </div>
    </div>
</body>
<script src="./../../public/common/jquery-2.1.4.js" ></script>
<script src="./../../public/js/common.js" ></script>
</html>