<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>新闻详情</title>
    <link rel="stylesheet" href="./../../public/css/common.css">
    <link rel="stylesheet" href="./../../public/css/aboutMQ/newsDetail.css">
</head>

<body>
    <div class="common-nav">
        <div class="nav-banner">
            <img src="../../public/img/nav-banner.png" alt="">
        </div>
        <div class="nav-right">
            <div class="nav-list list-active model1">
                <a href="../index.html?model=model1"  class="nav-list-a">首页</a>
                <em class='active-border'></em>
            </div>
            <div class="nav-list model2">
                <a href="../apply/apply.html?model=model2"  class="nav-list-a">行业应用</a>
                <em class='active-border'></em>
                <div class="nav-list-menu"  style="display:none;">
                    <div class="menu-list menu2-1">
                        <a href="../apply/applydetail.html?model=model2&menu=menu2-1">钢铁冶金行业</a>
                    </div>
                    <div class="menu-list menu2-2">
                        <a href="../apply/applydetail.html?model=model2&menu=menu2-2">石油行业</a>
                    </div>
                    <div class="menu-list menu2-3">
                        <a href="../apply/applydetail.html?model=model2&menu=menu2-3">3C行业</a>
                    </div>
                </div>
            </div>
            <div class="nav-list model3">
                <a href="../product/product.html?model=model3" class="nav-list-a">产品&系统</a>
                <em class='active-border'></em>
                <div class="nav-list-menu index2-menu-contain" style="display:none;">
                    <div class="index2-menu ">
                        <div class="menu-list menu3-1">
                            <a href="../product/productdetail.html?model=model3&menu=menu3-1">智能制造解决方案</a>
                        </div>
                        <div class="menu-list menu3-2">
                            <a href="../product/productdetail.html?model=model3&menu=menu3-2">工业机器人</a>
                        </div>
                    </div>
                    <div class="index2-menu">
                        <div class="menu-list menu3-3">
                            <a href="../product/productdetail.html?model=model3&menu=menu3-3">冶金智能装备</a>
                        </div>
                        <div class="menu-list menu3-4">
                            <a href="../product/productdetail.html?model=model3&menu=menu3-4">石油化工智能装备</a>
                        </div>
                    </div>
                    <div class="index2-menu">
                        <div class="menu-list menu3-5">
                            <a href="../product/productdetail.html?model=model3&menu=menu3-5">工业自动化</a>
                        </div>
                        <div class="menu-list menu3-6">
                            <a href="../product/productdetail.html?model=model3&menu=menu3-6">驱动技术</a>
                        </div>
                    </div>
                    <div class="index2-menu">
                        <div class="menu-list menu3-7">
                            <a href="../product/productdetail.html?model=model3&menu=menu3-7">流体系统</a>
                        </div>
                        <div class="menu-list menu3-8">
                            <a href="../product/productdetail.html?model=model3&menu=menu3-8">MQ机器人教育合作项目</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="nav-list model4">
                <a href="../service/service.html?model=model4&menu=4-1" class="nav-list-a">服务与解决方案</a>
                <em class='active-border'></em>
                <div class="nav-list-menu"  style="display:none;">
                    <div class="menu-list menu4-1">
                        <a href="../service/service.html?model=model4&menu=menu4-1">服务支持</a>
                    </div>
                    <div class="menu-list menu4-2">
                        <a href="../service/service.html?model=model4&menu=menu4-2">服务模式</a>
                    </div>
                    <div class="menu-list menu4-3">
                        <a href="../service/solve.html?model=model4&menu=menu4-3">解决方案</a>
                    </div>
                </div>
            </div>
            <div class="nav-list model5">
                <a href="../case/caselist.html?model=model5" class="nav-list-a">成功案例</a>
                <em class='active-border'></em>
            </div>
            <div class="nav-list model6">
                <a href="../technolog/index.html?model=model6" class="nav-list-a">技术创新</a>
                <em class='active-border'></em>
            </div>
            <div class="nav-list model7">
                <a href="../recruit/recruitList.html?model=model7" class="nav-list-a">招贤纳士</a>
                <em class='active-border'></em>
            </div>
            <div class="nav-list model8">
                <a href="../aboutMQ/newsCenter.html?model=model8" class="nav-list-a">关于MQ</a>
                <em class='active-border'></em>
                <div class="nav-list-menu"  style="display:none;">
                    <div class="menu-list menu8-1">
                        <a href="../aboutMQ/introduce.html?model=model8&menu=menu8-1">公司介绍</a>
                    </div>
                    <div class="menu-list menu8-2">
                        <a href="../aboutMQ/newsList.html?model=model8&menu=menu8-2">新闻中心</a>
                    </div>
                    <div class="menu-list menu8-3">
                        <a href="../aboutMQ/contact.html?model=model8&menu=menu8-3">联系我们</a>
                    </div>
                </div>
            </div>
            <div class="nav-search">
                <input type="text">
                <em class='input-em'></em>
            </div>
            <div class="language">
                <div class="cn language-list language-active">CN</div>
                <div class="en language-list">EN</div>
            </div>

        </div>
    </div>
    <div class="container index-contain">
        <div class="left">
            <div>
                <a href="/" class="back"></a>
                <div class="title">
                    <p class="en">NEWS</p>
                    <p class="zh">新闻中心</p>
                    <div class="line"></div>
                </div>

            </div>
        </div>
        <div class="right">
            <div>
                <div class="title">热烈庆祝内蒙古乌兰浩特钢铁有...</div>
                <div class="line-contain">
                    <div class="line"></div>
                    <div class="time">2017年7月7日</div>
                </div>

                <div class="detail">
                        1)	大型中心风冷复合式烧嘴为T S G石灰窑提供了充足的中心火焰。解决了石灰窑中心气流不足，温度分布不均，中心生烧合边沿过烧的问题，有利于石灰窑的大型化，同时提高了TGS石灰窑的产量和质量。<br>
                        2)	采用余热回收，预热空气（助燃风）。炉顶设计有助燃风预热器，可将助燃风预热至220-300℃，大大提高了石灰窑的热效率，同时保护了炉顶设备。还可根据用户的节能要求增设煤气预热器，实现双预热。<br>
                        3)	采用侧向石灰窑烧嘴，并使用了特种耐火材料，燃烧稳定可靠，寿命长且不易回火。<br>
                        4)	适用多种燃料：高炉煤气（热值≥3.35MJ/m ?）、转炉煤气、焦炉煤气、混合煤气、电石气，也可掺烧无烟煤、焦丁等其它燃料。<br>
                        5)	检测系统、设备运转以及窑的运行是通过可编程逻辑控制器、可视系统和计算机系统来进行控制和监控的，提高了机械化、自动化程度。具有良好的判断炉内气流分布、温度分布是否均匀的工程（类似于高炉炉喉十字测温和料面红外摄像系统的功能）；同时还具有判断和提示每次操作效果是否达到要求的工程。</div>
            </div>
        </div>
    </div>
</body>
<script src="./../../public/common/jquery-2.1.4.js" ></script>
<script src="./../../public/js/common.js" ></script>
</html>