.container:after {
  content: "";
  display: block;
  clear: both;
}
.container > div {
  float: left;
  height: calc(100vh - 92px);
  min-height: 688px;
}
@media (max-width: 1600px) {
  .container > div {
    height: calc(100vh - 80px);
  }
}
.container .left {
  width: 31%;
  position: relative;
  background: url(../../img/index-main-bg.jpg) no-repeat 46% 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .left:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(233, 72, 22, 0.7);
}
.container .left > div {
  position: absolute;
  width: 218px;
  z-index: 99;
  color: #fff;
  text-align: center;
}
.container .left > div .back {
  display: block;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  background: url(../../img/back.png);
}
.container .left > div .title .en {
  font-size: 20.39px;
  margin-bottom: 4px;
}
.container .left > div .title .zh {
  font-size: 33.92px;
  font-weight: bold;
  margin: 0;
}
.container .left > div .title .line {
  width: 50px;
  height: 7px;
  background: #fff;
  margin: 24px auto;
}
.container .right {
  width: 69%;
  padding: 0 14% 0 5%;
  box-sizing: border-box;
}
.container .right > div .title {
  font-size: 30px;
  font-weight: bold;
  color: #565656;
  margin-top: 75px;
}
.container .right > div .detail {
  font-size: 18px;
  color: #565656;
  line-height: 1.6;
  margin-top: 24px;
}
.container .right > div .line {
  background: #f2370b;
  margin-top: 36px;
  width: 320px;
  height: 4px;
}
@media screen and (max-width: 1600px) {
  .container .right > div .line {
    width: 220px;
    height: 2px;
  }
}
.container .right > div .main-requirements {
  margin: 60px 0;
  font-size: 22px;
  color: #565656;
}
.container .right > div .main-requirements span {
  font-weight: bold;
}
.container .right > div .main-requirements .experience {
  margin-top: 10px;
}
@media screen and (max-width: 1600px) {
  .container .right > div .main-requirements {
    margin: 40px 0;
    font-size: 18px;
  }
}
.container .right > div .requirements-detail {
  font-size: 16px;
  color: #565656;
}
.container .right > div .requirements-detail .detail-list {
  line-height: 180%;
}
@media (max-width: 1600px) {
  .container .left > div .title .en {
    font-size: 18px;
  }
  .container .left > div .title .zh {
    font-size: 24px;
  }
  .container .left > div .btn {
    font-size: 18px;
  }
  .container .right > div .title {
    font-size: 24px;
  }
  .container .right > div .l-t {
    font-size: 20px;
    color: #565656;
    margin-top: 120px;
  }
}
